
    <h1> Search for your food to get your kcal intake</h1>
    <h2> Your current calory intake today is 0</h2>
<form action="/information" method="GET">
<input type="text"  placeholder="Search for your food" name="search" required>
<input type="submit">
</form>


